<!-- "container" is the base layout class for Bootstrap -->
<div class="container">
    <!-- Bootstrap grids are divided into "row"s... -->
    <div class="row">

        <!-- ... and columns, which are sized as a ratio of 12 -->
        <div ng-class="{'col-md-8': rootCtrl.showMessages,
                       'col-md-12': !rootCtrl.showMessages }">
            <div ui-view>
                <p>Welcome to the ToDos application.</p>
                <p><a class="btn btn-primary btn-small" ui-sref="root.todos">View your ToDo list....</a></p>
            </div>
        </div>

        <div class="col-md-4" ng-if="rootCtrl.showMessages">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Messages
                    <button class="close"
                            ng-click="rootCtrl.toggleMessages()">&times;</button>
                </div>
                <div class="panel-body">
                    <ul>
                        <li ng-repeat="message in rootCtrl.messages">
                            {{message}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
