
    <div class="row">
        <div class="col-md-12">
            <h3>Here is your To Do list</h3>
        </div>
    </div>

    <div class="row" ng-repeat="todo in listCtrl.todos">
        <div class="col-md-8">
            <h4>{{todo.text}}</h4>
            <span class="small">Created: {{todo.created}}</span>
            <br>
            <span class="small">Due: {{todo.due}}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-3 col-md-2">
            <button class="btn btn-success"
                    ng-click="listCtrl.addNew()">Add an Item...</button>
        </div>
    </div>

